<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <div>
            <a href="#">My Ecommerce</a>
            <ul>
                <li><a href="{% url "login" %}">Login</a></li>
                <li><a href="{% url "register" %}">Register</a></li>
                <li><a href="{% url "index" %}">Dashboard</a></li>
            </ul>
        </div>
    </nav>
    <main>
        Welcome to the home page.
    </main>
</body>
</html>